@import 'src/global';

/* iFrame */

.iframe-wrapper {
  position: relative;
  width: 100%;
}
.youtube-ratio {

    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    .iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

}

/* Youtube classes */

.yt-lite:before {
  display: none;
}

.iframe-wrapper {
  .playbutton {
    opacity: 1;
  }
  /*.yt-wrapper {
    &:before {
      height: 100px;
    }
  }*/
  .playbutton {
    border: none !important;
    cursor: pointer !important;
    width: revert !important;
    height: revert !important;
    background: $color1 !important;
    border-color: $color1 !important;
    border-radius: 0 !important;
    /*opacity: 1 !important;*/
    opacity: 1;
    @include fluid1(font-size, 17px);
    @include fluid1(line-height, 32px);
    @include fluid1(padding-left, 20px);
    @include fluid1(padding-right, 20px);
    @include fluid1(padding-top, 3px);
    @include fluid1(padding-bottom, 3px);
    &:before {
      content: 'Video abspielen' !important;
      color: $white !important;
      white-space: nowrap !important;
      transform: none !important;
      background: none !important;
      width: revert !important;
      height: revert !important;
      border: none !important;
      position: revert !important;
      top: revert !important;
      left: revert !important;
    }
    &:after {
      content: '';
      height: 1px;
      position: absolute;
      bottom: -1px;
      left: -1px;
      width: calc(100% + 2px);
      background: $white;
      transition: transform linear .44s;
      transform: scale(0);
      transform-origin: left;
    }
    &:hover {
      &:after {
        transform: scale(1);
        transition: all linear .82s;
      }
    }
  }
}

.notice {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 860px;
  z-index: 1;
  padding: 10px 20px;
  background: rgba($black, 0.5);
  color: $white;
  text-align: left;

  @include everything_until(tablet) {
    position: revert;
    left: revert;
    top: revert;
  }
}
