/* Container */

.container {
  width: 100%;
  max-width: map-get($speaking-grid, desktop);
  margin: 0 auto;
  @include fluid2(padding-left, $gapMobile*2, $gapDesktop);
  @include fluid2(padding-right, $gapMobile*2, $gapDesktop);
  text-align: center;
  figcaption {
    @include fluid1(font-size, 16px);
    @include fluid1(padding-left, 30px);
    @include fluid1(padding-right, 30px);
  }
  p {
    @include fluid2(margin-bottom, 25px, 30px);
    &:last-child {
      margin: 0;
    }


    a {
      color: $color1;
      position: relative;
      &:after {
        content: '';
        @include fluid1(left, -2px);
        @include fluid1(bottom, -2px);
        background: $color1;
        height: 2px;
        width: calc(100% + #{pxToVwMobile(4px)});
        position: absolute;
        opacity: 0;
        transition: all ease-in-out .15s;
        @include everything_from(tablet) {
          width: calc(100% + #{pxToVw(4px)});
        }
        @include everything_from(desktop) {
          width: calc(100% + 4px);
        }
      }
      &:hover {
        &:after {
          @include fluid1(bottom, -2px);
          opacity: 1;
        }
      }
    }

  }
  &.mobile-fullwidth {

    @include everything_until(tablet) {
      padding: 0;
      /*margin-left: pxToVwMobile($gapMobile*2 * -1);
      margin-right: pxToVwMobile($gapMobile*2 * -1);*/
    }
  }
}
.restricted {
  overflow: hidden;
  position: relative;
  height: 100%;
}
@include everything-until(tablet) {
  .mobilewide {
   padding-left: 0;
    padding-right: 0;
  }
}
@include everything-from(tablet) {
  .narrow {
    max-width: map-get($speaking-grid, tablet)
  }
  .wide {
    max-width: 100%;
    @include fluid2(padding-left, $gapMobile, 0);
    @include fluid2(padding-right, $gapMobile, 0);
  }
}