.grid {
  display: grid;
  grid-gap: pxToVwMobile(15px);
}

@include everything_from(tablet) {

  .grid-cols-2 {
    grid-gap: pxToVw(30px);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @include everything_from(desktop) {
      grid-gap: 30px;
    }
  }
  .grid-cols-3 {
    grid-gap: pxToVw(30px);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    @include everything_from(desktop) {
      grid-gap: 30px;
    }
  }
  .grid-cols-4 {
    grid-gap: pxToVw(30px);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    @include everything_from(desktop) {
      grid-gap: 30px;
    }
  }

}