.xl {
  position: relative;
  display: block;
}
.ctaPosition {
  @include fluid2(bottom, 30px, 40px);
  position: absolute;
  left: 0;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include gradient(31.52%, 37.31%);
}
.innerContent {
  position: relative;
  @include everything_until(tablet) {
    padding-left: pxToVwMobile($gapMobile);
  }
}

.xl {
  $imageWidth: 375;
  $imageHeight: 460;
  $ratio: ($imageHeight*100)/$imageWidth * 1%;
  @include everything_until(tablet) {
    .image {
      @include filled-container($ratio);
      & > * {
        @include filled-content;
      }
    }
  }
}